.quotesocial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appContainer {
  min-height: 90vh;
}

.cvskills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4em;
}

.copyright {
  text-align: center;
  padding: 1em 1em 3em 1em;
}
