.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4em;
}

.contactContainer h1 {
  font-weight: bold;
  font-size: 20px;
  padding-top: 2em;
}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.contactContainer p {
  width: 60%;
  padding: 1em;
}