@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }

 .contactContainer h1 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 1em;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
 /* 
  .contactContainer p {
    width: 60%;
    padding: 1em;
  } */
}
