.navbar {
  font-family: "Roboto Mono", monospace;
}

@media only screen and (max-width: 1023.9px) {
  .navitemscontainer {
    display: inline-flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: flex-start;
  }

  .nav-items {
    padding-bottom: 2em;
    font-weight: bold;
  }

  .small-hide {
    display: none;
  }

  .navitemscontainer {
    padding: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .navitemscontainer {
    padding: 1em;
  }

  .nav-items {
    padding-right: 2em;
    font-weight: bold;
  }

  .hide {
    display: none;
    /* color: rgb(75, 75, 75); */
  }
}

.logo-item {
  font-size: 20px;
  font-weight: bold;
}

.darkmode {
  border: none;
  background-color: transparent;
  outline: transparent;
  font-size: 15px;
}

.darkmode:hover {
  outline: transparent;
}

.logodots {
  color: rgb(149, 149, 255);
  font-size: 30px;
  padding-bottom: 10px;
}

.navbar-menu {
  padding: 0.5em;
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 425px) {
}
