@media only screen and (min-width: 1024px) {
  .hiContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text, .wave {
    font-size: 50px;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
  }

  .text2 {
    font-size: 50px;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
  }

  .typeWriter {
    color: blue;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    font-weight: bold;
  }

  .emoji,
  .name {
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
    font-weight: bold;
  }

  .bouncebutton {
    padding: 10px 20px;
    background-color: blue;
    color: white;
  }

  .contactme {
    margin-top: 3em;
  }
}

@media only screen and (max-width: 1023.9px) {
  .text {
    background-color: white;
    width: fit-content;
    line-height: 4px;
    padding: 0 7px 1.3em 7px;
    margin: 1em 0;
    background-size: 200%;
    transition: 1.3s ease-out;
  }

  .text2 {
    font-weight: bold;
    font-size: 1.4em;
    padding: 1.5em 0;
  }

  .text3 {
    padding: 1em 0;
  }

  .typewriter {
    font-weight: bold;
    font-size: 30px;
  }

  .downbutton {
    font-size: 1em;
    margin: 0.5em 0.3em 0 0;
  }

  .emoji {
    font-size: 30px;
    padding: 0.5em 0 0.5em 0;
  }

  .hiDescription,
  .hiDescription h1 {
    font-weight: bolder;
    line-height: 30px;
  }

  .difference {
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 20px;
    text-decoration-style: wavy;
    height: 10px;
  }

  .emoji,
  .name {
    font-family: "Abril Fatface", cursive;
    font-size: 30px;
  }

  .hiitalic {
    font-family: "Abril Fatface", cursive;
    font-family: "IM Fell French Canon", serif;
    font-size: 30px;
  }
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
