@media only screen and (min-width: 1024px) {
  .hiContainer {
    width: 40vw;
  }

  .text {
    background-color: white;
    width: fit-content;
    line-height: 4px;
    padding: 0 7px 1.3em 7px;
    margin: 1em 0;
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, blue 50%) right;
    background-size: 200%;
    transition: 1.3s ease-out;
  }

  .text2 {
    font-weight: bold;
    font-size: 1.4em;
    padding: 1.5em 0;
  }

  .text3 {
    padding: 1em 0;
  }

  .typewriter {
    font-weight: bold;
    font-size: 30px;
  }
}
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 1024px) {
  .emoji,
  .name {
    font-family: "Abril Fatface", cursive;
    font-size: 40px;
  }

  .hiitalic {
    font-family: "Abril Fatface", cursive;
    font-family: "IM Fell French Canon", serif;
    font-size: 40px;
  }
}

@media only screen and (max-width: 425px) {
  .emoji {
    font-size: 30px;
    padding: 0.5em 0 0.5em 0;
  }

  .hiDescription,
  .hiDescription h1 {
    font-size: 20px;
    font-weight: bolder;
    line-height: 30px;
  }

  .makethings {
    background-color: blue;
    padding: 3px;
  }

  .difference {
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 20px;
    text-decoration-style: wavy;
    height: 10px;
  }
}
