.imagndesc {
  display: flex;
  width: 100%;
}

.imageContainer {
  display: flex;
  padding-left: 4em;
}

.image1 {
  width: 350px;
}

.image2 {
  width: 300px;
  margin: 6em 1em 0 -2em;
}

.imagetext {
  padding: 3em 2em;
}

.imagetext h1 {
  font-weight: bold;
}