.svgphoto {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .photocontainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5em;
    height: auto;
    width: 35vw;
  }
}