.photocontainer {
  border-radius: 84% 48% 70% 43% / 85% 64% 65% 55%;
  padding: 1em;
  height: 50vh;
  width: auto;
  display: flex;
  align-items: center;
}

.svgphoto {
  padding: 1em;
}

.svgphoto {
  height: auto;
  width: 100%;
}
