.photocontainer {
  width: 500px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 84% 48% 70% 43% / 85% 64% 65% 55% ;
  padding: 1em;
  margin-right: 3em;
}

.svgphoto {
  padding: 1em;
}