@media only screen and (min-width: 1024px) {
  .skillsContainer {
    width: 100%;
  }

  .skillswhole {
    display: flex;
    flex-direction: column;
  }

  .skillsheader {
    font-size: 1em;
    font-weight: bold;
  }

  .languages {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em;
    font-size: 13px;
    justify-content: space-between;
  }

}

@media only screen and (max-width: 1023.9px) {
  .skillsContainer {
    width: 100%;
  }

  .skillswhole {
    margin: 1em;
  }

  .skillsheader {
    font-size: 1em;
    font-weight: bold;
  }

  .languages {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em;
    font-size: 13px;
  }
  .languages p {
    margin-right: 0.3em;
  }
}
