@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 425px) {
  .skillsContainer {
    width: 100%;
  }

  .skillswhole {
    margin: 1em;
  }

  .skillsheader {
    font-size: 1em;
    font-weight: bold;
  }

   .languages {
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em;
    font-size: 13px;
  } 
   .languages p {
    margin-right: 0.3em;
  } 
}
