.social2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialc {
  display: flex;
}

.social2 a {
  font-size: 20px;
  padding: 1em 0;
}

.socialtwitter {
  padding: 0 2em;
}